{% extends 'base.html' %}
{% block content %}
    {% load problems_extras %}

    <style>
        textarea {
            border: none;
            border-bottom: 2px solid gray;
            width: 100%;
            height: 100px;
            background-color: #EEE;
            resize: none;
            overflow: hidden;
            padding: 8px;
        }

        textarea:focus {
            outline: none;
            border-bottom: 2px solid black;
            background-color: #F7F7F7;

        }

        .w3-padding-8 {
            padding: 8px 0;
        }
    </style>



    <div class="w3-row gradient-bg" style="height: calc(59px + 5vh);"></div>
    <div class="w3-row gradient-bg" style="min-height: calc(100vh - 110px - 125px);">
        <div class="w3-col l2"><p></p></div>
        <div class="w3-col l8 m12">
            <div class="w3-xxlarge" style="color: white; padding: 0 0 32px 0; width: 100%">
                {% if problem.title %}
                    Задача &laquo;{{ problem.title }}&raquo;
                {% else %}
                    Задача #{{ problem.id }}
                {% endif %}
            </div>
            <div class="w3-light-gray w3-card" style="width: 100%; padding: 32px">


                <div class="w3-padding-8">
                    <b>Условие:</b><br>
                    {{ problem.text|safe }}
                </div>

                <div class="w3-padding-8">
                    <b>Решение:</b><br>
                    {{ problem.solution|safe }}
                </div>

                <div class="w3-padding-8" style="display: flex">
{#                    <div style="flex-grow: 0">#}
{#                        <a href="{% url 'problems:view_solution' problem.id %}">#}
{#                            <button class="w3-button w3-black w3-hover-gray">#}
{#                                Скачать в .tex#}
{#                            </button>#}
{#                        </a>#}
{#                    </div>#}
                    <div style="flex-grow: 1"></div>
                    {% if user.is_staff %}
                        <div style="padding-right: 16px; flex-grow: 0">
                            <a href="{% url 'problems:delete_problem' problem.id %}">
                                <button class="w3-button w3-black w3-hover-gray">
                                    Удалить задачу
                                </button>
                            </a>
                        </div>
                        <div style="flex-grow: 0">
                            <a href="{% url 'problems:edit_problem' problem.id %}">
                                <button class="w3-button w3-black w3-hover-gray">
                                    Редактировать задачу
                                </button>
                            </a>
                        </div>
                    {% endif %}
                </div>

            </div>
            {% if comments.all %}
                <div class="w3-xxlarge" style="color: white; padding: 32px 0 0 0; width: 100%">
                    Комментарии
                </div>
            {% endif %}
            {% for comment in comments %}
                <div class="w3-light-gray w3-opacity"
                     style="padding: 16px 32px; width: 100%; margin: 16px 0">
                    <div>
                        <b>{{ comment.author.username }}</b> ({{ comment.date|datetime_format }})
                    </div>
                    {{ comment.text }}
                </div>
            {% endfor %}

            {% if user.is_authenticated %}
                <div class="w3-light-gray w3-card  w3-margin-top" style="width: 100%; padding: 32px;">
                    <form method="POST"> {% csrf_token %}
                        <div class="">
                        <textarea name="comment" rows="1" onkeyup="AutoGrowTextArea(this)"
                                  onblur="Collapse(this)"
                                  placeholder="Введите комментарий, используя синтаксиc $\LaTeX$"
                                  onfocus="$.fn.autoResize(this)"></textarea>
                        </div>
                        <div class="" style="padding-top: 16px">
                            <button class="w3-button w3-black w3-hover-gray" type="submit">
                                Комментировать
                            </button>
                        </div>
                    </form>
                </div>
            {% endif %}
        </div>
        <div class="w3-col l2"><p></p></div>
    </div>
    <div class="w3-row gradient-bg" style="height: calc(59px + 5vh);"></div>
{% endblock %}